<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>MAINDEL, LLC</title>
    <meta name="author" content="Rafael Boscan Castillo">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/styles.css" rel="stylesheet">
</head>

<body>
    <div class="header">
        <span> +1-804-564-3039 | rboscan4@gmail.com </span>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light">
        <img src='../css/img/logo-transparent.png' class="navbar-brand" href="index.html"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse btn-group btn-group-toggle" data-toggle="buttons"
            id="navbarSupportedContent">
            <label class="btn btn-secondary active" onclick="window.location='index.html';">
                <input type="radio" name="Home" id="home-nav" autocomplete="off" onclick="window.location='/';" /> HOME
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="About Us" id="about-nav" autocomplete="off"
                    onclick="window.location='/about-us.html';"> ABOUT US
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="Services" id="services-nav" autocomplete="off"> SERVICES
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="Customers" id="customers-nav" autocomplete="off"> CUSTOMERS
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="Contact Us" id="contact-nav" autocomplete="off"> CONTACT US
            </label>
        </div>
    </nav>

    <div class="main">
        <img src="../css/img/richmond-header2.jpg">
        <div class="image-box">
            <h1>M.A. INDEL, LLC is an Industrial Specialties Solution Provider</h1>
            <p>Having sourced materials for projects and customers in various locations around the world we know no
                boundaries
                that would prevent us from making sure you recieve the best price and solution the market has to
                offer.
            </p>
        </div>
        <div class="main-body">
            <p></p>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <span>© 2019 M.A. INDEL, LLC | All Rights Reserved </span>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>

</html>