@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }

body div.header {
    position: static;
    padding-top: 10px;
    height: 40px;
    background-color: grey;
    width: 100%;
    text-align: center;
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: rgba(18, 2, 123);
    font-weight: 900;
    font-size: 20px;
}

/* Navbar Formatting Start */
nav.navbar {
    background-color: rgb(255, 255, 255);
    padding-bottom: 0;
}

/* Logo */
.navbar-brand {
    height: 100%;
    width: 18vw;
    min-width: 200px;
    min-height: 60px;
}

/* Hamburger Icon  */

#navbarSupportedContent a.navlink.btn.btn-primary {
    background-color: rgb(0, 0, 0);
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(18,2,123)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-light .navbar-toggler {
    background-color: lightgrey;
}

/* Button Formatting */
#navbarSupportedContent.navbar-collapse .btn {
    color: black;
    background-color: white;
    border-radius: 0;
    border-color: white;
    padding: 20px 15px 20px 15px;
    margin-right: 2px;
    font-size: 1.25vw;
    font-family: 'Helvetica', 'Arial', sans-serif;
    box-shadow: none;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
}

#navbarSupportedContent.navbar-collapse .btn.active {
    color: white;
    background-color: rgba(18, 2, 123);
    cursor: pointer;
}

/* Navbar Formatting End */

/* Index/Main Formatting Start */
.main {
    text-align: -webkit-center;
}

.main img {
    height: 450px;
    width: 100%;
    position: relative;
}

.image-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
}

.main h1 {
    font-size: 30px;
    color: black;
    font-weight: 1000;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.main p {
    color: black;
    padding-top: 10px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Helvetica', 'Arial', sans-serif;
    margin: 0 10% 9% 10%;
}

/* Index/Main Formatting End */

/* About Us Formatting Start*/

.main-about {
    margin: 4% 10% 0 10%;
}

.main-about p {
    padding: 0 10% 0 0;
}

.main-about img {
    float: left;
    text-align: center;
    height: 40%;
    width: 30%;
    min-width: 200px;
    min-height: 100px;
    margin: 0 4% 2% 0;
    box-shadow: 10px 10px 5px grey;
}

.rafa {
    margin: 12% 0 12% 0;
}

/* About Us Formatting End */

/* Contact Us Formatting Start */

/* .contact-header img {
    width: 100%;
    height: 30vw;
    position: relative;
    min-width: 1000px;
    min-height: 735px;
    padding: 0;
    margin: 0;
} */
#gear{
    margin: 0 20% 0 20%;
}
div.contact-us {
    box-shadow: 1px 1px 1px 1px;
    position: relative;
    backdrop-filter: blur(15px);
    background-color: rgba(0, 0, 0, 0.404);
    margin-top:4%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 3%;
    width: 750px;
    height: 500px;
    padding: 20px 20px 20px 20px;
}

div.contact-us p {
    color: rgba(18, 2, 123);
    font-size: 25px;
    font-weight: 700;
    font-family: 'Helvetica', 'Arial', sans-serif;
    text-align: center;
    padding-bottom: 15px;
}

.form-row label {
    margin-top: 10px;
    font-size: 20px;
    color: rgba(18, 2, 123);
    font-weight: 600;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

textarea.form-control {
    margin-top: 1%;
    resize: none;
    height: 130px;
    overflow: scroll;
    color: black;
}

textarea:focus.form-control {
    color: black;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

input.form-control {
    width: 70%;
    margin-bottom: 1%;
    margin-top: 1%;
    margin-left: auto;
    font-family: 'Helvetica', 'Arial', sans-serif;
    color:black;
}

input:focus.form-control {
    color: black;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

/* Contact Us Formatting End */

/* Services Formatting Start */
.card{
    display:inline-block;
    margin: 3%;
}
/* Services Formatting End */
/* Footer */
.footer .container {
    width: 100%;
}

.footer {
    position: sticky;
    left:0;
    bottom: 0;
    height: 40px;
    background-color: grey;
    width: 100%;
    text-align: center;
    padding-top: 0.5vw;
    color: rgba(18, 2, 123);
    font-weight: 600;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

footer.footer-contact {
    margin-top: -3px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    height: 40px;
    background-color: grey;
    width: 100%;
    text-align: center;
    padding-top: 0.5vw;
    color: rgba(18, 2, 123);
    font-weight: 600;
    font-family: 'Helvetica', 'Arial', sans-serif;
    width: 100%;
}